body,p,ol,ul,li,h1,h2,h3,h4,h5,h6,form,table,td,th,dl,dt,dd,fieldset,legend,input{
    margin:0;
    padding:0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}

/*头部*/
header{
    width: 100%;
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    left: 0;
    top: 0;
    z-index:999;
    display: flex;
    justify-content: space-between;
}
.head_p{
    width:324px;
    line-height: 75px;
    text-indent: 18px;
}
.head_span,.icon-shezhi2{
    font-size: 25px;
    color: #ffffff;
    line-height: 75px;
}

.head_uls{
    line-height: 75px;
}
.head_uls li{
    text-align:center;
    width:80px;
    float:left;
    color: #ffffff;
    line-height: 75px;
    cursor: pointer;
}
.head_uls .ic1{
    font-size: 20px;
}
.head_uls .ic2{
    font-size: 10px;
}
s{
    display: block;
    position: fixed;
    width:20%;
    height:75px;
    background-color:rgba(36,194,205,0.3);
}

/*中间*/
.nav{
    width: 100%;
}

/*列表*/
.nav .nav_left{
    width:20%;
    height:700px;
    background-color: #23c1cc;
    position: fixed;
    left: 0;
    top:75px;
    cursor: pointer;
}

.nav_left_uls{
    padding-top: 25px;
    text-indent: 20px;
}
.nav_left_uls li{
    line-height: 66px;
    color: #ffffff;
    font-size:16px;
    border: 1px solid #32b2bd;
}
.nav_left_uls .lisa{
    background-color:#18a0a9;
}
.nav_left_uls li .icon-fenlei{
    padding-right: 25px;
}

/*箭头*/
.nav_left_p{
    background-color:#cfcece;
    width: 23px;
    height:25px;
    position: fixed;
    left:20%;
    top:12%;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    padding:10px 0 0 12px;
}
b{
    display:block;
    width:0;
    height:0;
    border:8px solid transparent;
    border-left-color:black;
}

.lisc_uls{
    display: none;
}
.lisc_uls li{
    font-size: 14px;
    color:#ffffff;
    line-height:30px;
    background-color:rgba(0,0,0,0.4);
    border:none;
}
.lisd_uls{
    display: none;
}
.lisd_uls li{
    margin-left: 20px;
    background: none;
}

